body{
	margin: 0 0;
	background-color: #282828;
}

div.logo{
	height: 115px;
	width: 100%;
	background-image: url(img/lg.png);
	background-size: cover;
}

div.lgwr{
	color: #d3d3d3;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

div.SERGEEV{
	font-size: 60px;
}

div.PRAY{
	font-size: 30px;
	font-family: 'Parsek', arial;
}

div.menubg{
	background-color: #141414;
}

div.menubar{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 960px;
	font-size: 30px;
	color: #d3d3d3;
}



ul > li {
	display: inline;
	list-style: none;
	padding: 37px;
	padding-top: 0px;
	padding-bottom: 0px;
}

li.marked{
	color: #ff0000;
}

ul, li { 
    padding: 0; 
    margin: 0; 
}

div.background_discr{
 	padding: 0 0;
 	width: 960px;
 	margin-left: auto;
 	margin-right: auto;
}

div.shop{
	width: 960px;
	height: auto;
	margin-left:auto;
	margin-right: auto;
	display: block
}

a{
	 text-decoration: none;
	 color: #d3d3d3;
}

div#rotator{
	position: relative; 
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div#rotator ul li{
	margin-right: auto;
	margin-left: auto;
	position: absolute; 
	list-style: none;
	display: block;
	padding: 0 0;
	padding-top: 10px;
}

div#rotator ul li.show{
	z-index:500;
}

video.vid{
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding-top: 560px;
}

div.colont{
	background-color: #141414;
	height: 100px;	
	margin-top: 10px;
}

a:hover{
	color: #FFFFFF;
}

img.bord{
	border: 3px solid #000000;
	max-width:370px;
	max-height:500px;
}
td{
		padding: 50px;

}

img.vk_inst{
	max-width:60px;
	max-height:60px;
}


/*div.header
{
	height: 100px;
	background-color: #282828;
	text-decoration-color: #d3d3d3;
	font-size: 40px;
}

div.gg
{
	color: #d3d3d3;
}

div.gf
{
	color: #d3d3d3;
	font-size: 15px;
}

div.bodier
{
	font-size: 40px;
}

div.gn
{
	color: #ff0000;
	font-size: 15px;
}
